<div class="modal-header">
    <h2 mat-dialog-title trans>Import From File</h2>
    <button type="button" (click)="close()" class="close-button no-style icon-button">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>

<form autocomplete="off" (ngSubmit)="confirm()" [formGroup]="importFileForm" ngNativeValidate>
    <mat-dialog-content class="many-inputs">
        <div class="input-container">
            <label for="fileType" trans>File Type</label>
            <select required id="fileType" formControlName="fileType" class="type-select">
                <option [value]="type" *ngFor="let type of data.fileTypes">{{type}}</option>
            </select>
        </div>
        <div class="input-container">
            <label for="files" trans> Files</label>
            <input type="file" required id="files" (change)="onSelectFile($event)" formControlName="files" multiple>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button (click)="close()" type="button" mat-button trans>Cancel</button>
        <button type="submit" mat-raised-button color="accent" [disabled]="loading$ | async" trans>Import</button>
    </mat-dialog-actions>
</form>